
# Private deployments
deployments/localhost

# Build Output
crytic-export
**/*.0x
**/.flags
**/_build/**
**/artifacts/**
**/build/**
**/dist/**
**/node_modules/**
**/tsconfig.tsbuildinfo
*.docker-compose.yml
docker-compose.yml

# Cache
**/.node_repl_history
**/.bot-store
**/.buidler
**/.cache
**/.config
**/.connext-store/**
**/.git
**/.jest.cache
**/.local
**/.node-gyp
**/.npm
**/.pyEnv
**/.rpt2_cache
**/.test-store
**/cache/**

# IDEs and editors
**/*.launch
**/*.sublime-workspace
**/*.sw[opq]
**/.c9/
**/.classpath
**/.idea
**/.project
**/.settings/
**/.vscode

# Logs
**/*.*_backup
**/*.log
**/*.patch
cypress/screenshots
cypress/videos

# OS
**/.bash_history
**/.DS_Store

# Sensitive Data
**/.env
**/react-app-env.d.ts
.secret
